* {
  padding: 0;
  margin: 0;
  border: border-box;
  color: var(--text-color);
}

:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--backgrond);
}

.navigation {
  width: 918px;
  margin-right: 50px;
  margin-left: 280px;
  margin-top: 50px;
}

.menu {
  position: absolute;
  width: 431.35px;
  height: 19px;
  left: 464px;
  top: 65px;
}

ul {
  list-style: none;
}
.menu li {
  list-style-type: none;
  text-decoration: none;
  position: relative;
  font-size: 14px;

  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 38px;
  gap: 10px;

  position: absolute;
  width: 172px;
  height: 37px;
  left: 1026px;
  top: 56px;

  border: 1px solid #8257e5;
  border-radius: 6px;

  background-color: var(--backgrond);
}

.button:hover {
  background-color: var(--button);
}
